* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content {
  height: 80vh;
}

.navbar {
  background: #2c5f2d !important;
}

.navbar-brand {
  color: #ffdd4a !important;
}

.nav-link {
  color: #ffdd4a !important;
}

/* .navbar-brand{
  background: #7aa802 !important;

} */
.register-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 3px gray;
}
